{% extends 'base.html' %}

{% block content %}
<h1>Bem-vindo ao Monitoramento de Roubos de Celulares fora da Cidade de São Paulo</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4 lista-col">
            <h2>5 Bairros Mais Atacados</h2>
            <ul id="bairros-lista" class="list-unstyled">
                {% for bairro in bairros_info %}
                    <li id="bairro-{{ forloop.counter }}">
                        <a href="{% url 'detalhes_ocorrencia' id=bairro.id %}">
                            {{ bairro.nome }} - {{ bairro.cidade }}: {{ bairro.num_ocorrencias }} ocorrências</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8 mapa-col">
            <div id="map-container">
                {{ mapa_html|safe }}  <!-- Exibe o mapa aqui -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
