{% extends 'base.html' %}

{% block content %}
<div class="container">

    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Local</th>
                <th scope="col">Total de Ocorrências</th>
                <th scope="col">Horários</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                {% for rua, dados in ocorrencias_agrupadas.items %}
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ rua }}</td>
                    {% for hora, num_ocorrencias in dados.horas.items %}
                    <div>
                        <td>{{ num_ocorrencias }} Vezes</td>
                        <td>{{ hora }}</td>
                    </div>
                    {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <!-- Exibição de Ocorrências Sem Horário -->
    <p>Total de Ocorrências Sem Horário: {{ ocorrencias_sem_horario }}</p>
        </div>

        <!-- Coluna com o mapa -->
        <div class="col-md-8 mapa-col">
            <div id="map-container">
                {{ mapa_html|safe }}  <!-- Mapa exibido aqui -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

