{% extends 'base.html' %}

{% block content %}
    <h2>Resultados da Pesquisa</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4 lista-col">
                {% if bairros_encontrados %}
                <ul id="bairros-lista" class="list-unstyled">
                    {% for bairro in bairros_encontrados %}
                    <li id="bairro-{{ forloop.counter }}">
                        <a href="{% url 'detalhes_ocorrencia' bairro.id %}">{{ bairro.nome }} : {{ bairro.num_ocorrencias }} ocorrências</a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>Nenhum bairro encontrado para "{{ query }}"</p>
                {% endif %}
            </div>
            <div class="col-md-8 mapa-col">
                <div id="map-container">
                    {{ mapa_html|safe }}  <!-- Exibe o mapa aqui -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
