#map-container {
    height: 500px; /* Altura do mapa */
    width: 100%; /* Largura total para o contêiner do mapa */
}

.mapa-col {
    padding: 0; /* Remove o padding da coluna do mapa */
    text-align: left; /* Alinha o texto à esquerda */
}

.lista-col {
    padding: 0; /* Remove o padding da coluna da lista */
    display: flex;
    flex-direction: column; /* Garante que a lista e os botões estejam na coluna */
    justify-content: flex-start; /* Alinha os itens ao início da coluna */
    text-align: right; /* Alinha o texto à direita (opcional) */
}

.lista-col h2 {
    margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}
