<footer class="p-2 bg-light text-lg-start sticky-bottom">
  <div class="container p-4 footer-content">
    <div class="section">
      <h5>Fonte dos Dados</h5>
      <p>Os dados apresentados neste site são retirados da <a href="https://www.ssp.sp.gov.br/" target="_blank">Secretaria de Segurança Pública de São Paulo (SSP)</a>.</p>
    </div>

    <div class="section">
      <h5>Aviso Importante</h5>
      <p>
        O roubo de celulares é uma realidade preocupante. Tenha em mente que o celular contém uma parte significativa da sua vida — tanto financeira quanto pessoal — mas ele não é essencial para sua sobrevivência. <strong>Preserve sua vida</strong>, pois ela é o bem mais valioso que você possui. Em caso de assalto, sempre coloque sua segurança em primeiro lugar.
      </p>
      <p>
        <strong>Colabore com a segurança pública!</strong> Em caso de roubo, faça um boletim de ocorrência para que as autoridades possam agir e nossa base de dados se mantenha atualizada e precisa.
      </p>
    </div>

    <!-- Exibir as datas da primeira e última ocorrência -->
    <div class="section">
      <h6>Dados atualizados:</h6>
      <p>Os dados foram obtidos entre <strong>: {{ primeira_data }}</strong> e <strong>{{ ultima_data }}</strong>.</p>
    </div>
  </div>

  <!-- Informação sobre feedback -->
  <div class="text-center mb-4">
    <p>Para enviar sugestões, reclamações ou reportar bugs, aperte o botão de feedback ou <a href="{% url 'feedback' %}">clique aqui</a>.</p>
  </div>

  <!-- Copyright -->
  <div class="footer-bottom text-center p-3">
    © 2024 Desenvolvido por Andre Silva
  </div>
</footer>
