{% load static %}

<footer class="p-2 bg-light text-lg-start sticky-bottom" >
  <div class="container p-4 footer-content">
    <div class="section">
      <h5>Fonte dos Dados</h5>
      <p>Os dados apresentados neste site são retirados da <a href="https://www.ssp.sp.gov.br/" target="_blank">Secretaria de Segurança Pública de São Paulo (SSP)</a>.</p>
    </div>

    <div class="section">
      <h5>Aviso Importante</h5>
      <p>Em caso de roubo ou assalto, procure imediatamente as autoridades competentes para registrar um boletim de ocorrência. Isso é essencial para que providências sejam tomadas e para que possamos manter nossa base de dados atualizada e precisa.</p>
      <p><strong>Colabore com a segurança pública e ajude a melhorar nossa base de dados!</strong></p>
    </div>
  </div>
    <!-- Informação sobre feedback -->
    <div class="text-center mb-4">
      <p>Para enviar sugestões, reclamações ou reportar bugs, aperte o botão de feedback ou <a href="#">clique aqui</a>.</p>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-bottom text-center p-3">
    © 2024 Desenvolvido por Andre Silva
  </div>
</footer>
